:root {
    color-scheme: light dark;
}

/**
NB: box-shadows and border-radius properties are not visible on both Windows and macOS platforms.
This is due to the use of a native solution for rendering the autofill tooltip within a webview,
which has its own box-shadow and border-radius settings.
*/

:host {
    /* --- Design Tokens --- */
    /* Colors - Text */
    --t-text-primary: #1C1F21;
    --t-text-secondary: rgba(28, 31, 33, 0.72);
    --t-text-primary-dark: rgba(255, 255, 255, .84);
    --t-text-secondary-dark: rgba(255, 255, 255, .60);

    /* Colors - Backgrounds */
    --t-backdrop-mac: #F2F0F0;
    --t-backdrop-mac-dark: #646264;
    --t-backdrop-windows: #FFF;
    --t-backdrop-windows-dark: #333;

    /* Colors - Interactive States */
    --t-mac-interactive: #3969EF;
    --t-mac-interactive-text: #FFF;
    --t-windows-interactive: #f0f0f0;
    --t-windows-interactive-dark: #3f3f3f;


    /* ICON COLORS -- LIGHT*/
    /* PRIMARY 1C1F21 84% */

    /* ICON COLORS -- DARK */
    /* PRIMARY FFF 84% */

    /* --- PLATFORM BASE SETTINGS (MacOS default) --- */
    /* Colors */
    --color-primary: var(--t-text-primary);
    --color-secondary: var(--t-text-secondary);
    --color-primary-dark: var(--t-text-primary-dark);
    --color-secondary-dark: var(--t-text-secondary-dark);
    --bg: var(--t-backdrop-mac);
    --bg-dark: var(--t-backdrop-mac-dark);

    /* Typography */
    --font-size-primary: 13px;
    --font-size-secondary: 11px;
    --font-weight: 500;

    /* Layout & Spacing */
    --padding: 6px;
    --hr-margin: 5px 9px;
    --border-radius: 4px;

    /* Interactive Elements */
    --hover-color-primary: var(--t-mac-interactive-text);
    --hover-color-secondary: var(--t-mac-interactive-text);
    --hover-color-primary-dark: var(--t-mac-interactive-text);
    --hover-color-secondary-dark: var(--t-mac-interactive-text);
    --hover-bg: var(--t-mac-interactive);
    --hover-bg-dark: var(--t-mac-interactive);
    --hover-effect: invert(100%);
    --hover-effect-dark: invert(100%);

    /* Top autofill min height */
    --top-autofill-min-height: 100vh;
}

/* --- PLATFORM OVERRIDES - Windows --- */
:host:has([data-platform="windows"]) {
    /* Colors */
    --bg: var(--t-backdrop-windows);
    --bg-dark: var(--t-backdrop-windows-dark);

    /* Typography */
    --font-size-primary: 14px;
    --font-size-secondary: 12px;
    --font-weight: 400;

    /* Layout & Spacing */
    --padding: 0px;
    --hr-margin: 4px 0px;
    --border-radius: 3px;

    /* Interactive Elements */
    --hover-color-primary: var(--t-text-primary);
    --hover-color-secondary: var(--t-text-secondary);
    --hover-color-primary-dark: var(--t-text-primary-dark);
    --hover-color-secondary-dark: var(--t-text-secondary-dark);
    --hover-bg: var(--t-windows-interactive);
    --hover-bg-dark: var(--t-windows-interactive-dark);
    --hover-effect: none;
    --hover-effect-dark: invert(100%);

    /* Top autofill min height, on windows 100vh causes the popup to be too tall for some reason.
     * We don't know the root cause yet, but setting it to auto fixes the issue.
     * https://app.asana.com/1/137249556945/task/1210848278309115/comment/1210997380754990?focus=true
     */
    --top-autofill-min-height: auto;
}

.wrapper *,
.wrapper *::before,
.wrapper *::after {
    box-sizing: border-box;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2147483647;
    padding: 0;
    font-family: system-ui;
    -webkit-font-smoothing: antialiased;
}

.wrapper:not(.top-autofill) .tooltip {
    position: absolute;
    width: 300px;
    max-width: calc(100vw - 25px);
    transform: translate(-1000px, -1000px);
    z-index: 2147483647;
}

.tooltip--data, #topAutofill {
    background-color: var(--bg);
}

@media (prefers-color-scheme: dark) {
    .tooltip--data, #topAutofill {
        background: var(--bg-dark);
    }
}

.tooltip--data {
    width: 315px;
    max-height: 290px;
    padding: var(--padding);
    font-size: var(--font-size-primary);
    line-height: 14px;
    overflow-y: auto;
}

.top-autofill .tooltip--data {
    min-height: var(--top-autofill-min-height);
}

.tooltip--data.tooltip--incontext-signup {
    width: 360px;
}

.wrapper:not(.top-autofill) .tooltip--data {
    top: 100%;
    left: 100%;
}

.wrapper:not(.top-autofill) .tooltip--email {
    top: calc(100% + 6px);
    right: calc(100% - 48px);
    padding: 8px;
    border: 1px solid #D0D0D0;
    border-radius: 10px;
    background-color: #FFF;
    font-size: 14px;
    line-height: 1.3;
    color: #333;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.tooltip--email__caret {
    position: absolute;
    transform: translate(-1000px, -1000px);
    z-index: 2147483647;
}

.tooltip--email__caret::before,
.tooltip--email__caret::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    border-bottom: 8px solid #D0D0D0;
    right: -28px;
}

.tooltip--email__caret::before {
    border-bottom-color: #D0D0D0;
    top: -1px;
}

.tooltip--email__caret::after {
    border-bottom-color: #FFF;
    top: 0px;
}

/* Buttons */
.tooltip__button {
    display: flex;
    width: 100%;
    padding: 8px 8px 8px 0px;
    font-family: inherit;
    color: inherit;
    background: transparent;
    border: none;
    border-radius: 6px;
    text-align: left;
}

.tooltip__button.currentFocus,
.wrapper:not(.top-autofill) .tooltip__button:hover {
    background-color: var(--hover-bg);
    color: var(--hover-color-primary);
}

@media (prefers-color-scheme: dark) {
    .tooltip__button.currentFocus,
    .wrapper:not(.top-autofill) .tooltip__button:hover {
        background-color: var(--hover-bg-dark);
    }
}

/* Data autofill tooltip specific */
.tooltip__button--data {
    position: relative;
    min-height: 48px;
    flex-direction: row;
    justify-content: flex-start;
    font-size: inherit;
    font-weight: var(--font-weight);
    line-height: 16px;
    text-align: left;
    border-radius: var(--border-radius);
}

.tooltip--data__item-container {
    max-height: 220px;
    overflow: auto;
}

.tooltip__button--data:first-child {
    margin-top: 0;
}

.tooltip__button--data:last-child {
    margin-bottom: 0;
}

.tooltip__button--data::before {
    content: '';
    display: block;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    margin: 0 8px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

/* FIXME: find a better way to address :not bitwarden */
/* NB: .currentFocus is used by MacOS */
.tooltip__button--data.currentFocus:not(.tooltip__button--data--bitwarden)::before,
.wrapper:not(.top-autofill) .tooltip__button--data:not(.tooltip__button--data--bitwarden):hover::before {
    filter: var(--hover-effect);
}

.tooltip__button--data.currentFocus.no-hover-effect::before,
.wrapper:not(.top-autofill) .tooltip__button--data.no-hover-effect:hover::before,
.tooltip__button--data.no-hover-effect:hover::before {
    filter: none;
}

/* Icon effects */
@media (prefers-color-scheme: dark) {
    .tooltip__button--data:not(.tooltip__button--data--bitwarden)::before {
        filter: var(--hover-effect-dark);
        opacity: .9;
    }

    .tooltip__button--data.no-hover-effect::before,
    .wrapper:not(.top-autofill) .tooltip__button--data.no-hover-effect::before {
        filter: none;
        opacity: 1;
    }

    .tooltip__button--data.currentFocus:not(.tooltip__button--data--bitwarden)::before,
    .wrapper:not(.top-autofill) .tooltip__button--data:not(.tooltip__button--data--bitwarden):hover::before {
        filter: var(--hover-effect-dark)
    }

    .tooltip__button--data.currentFocus.no-hover-effect::before,
    .tooltip__button--data.no-hover-effect:hover::before,
    .wrapper:not(.top-autofill) .tooltip__button--data.no-hover-effect:hover::before {
        filter: none;
    }
}

.tooltip__button__text-container {
    margin: auto 0;
    width: 100%;
}

.label {
    display: block;
    font-weight: 400;
    letter-spacing: -0.25px;
    color: var(--color-primary);
    font-size: var(--font-size-primary);
    line-height: 1;
}

.label + .label {
    margin-top: 3px;
}

.label.label--medium {
    font-weight: var(--font-weight);
    letter-spacing: -0.25px;
}

.label.label--small {
    font-size: var(--font-size-secondary);
    font-weight: 400;
    letter-spacing: 0.06px;
    color: var(--color-secondary);
}

@media (prefers-color-scheme: dark) {
    .tooltip--data .label {
        color: var(--color-primary-dark);
    }

    .tooltip--data .label--medium {
        color: var(--color-primary-dark);
    }

    .tooltip--data .label--small {
        color: var(--color-secondary-dark);
    }
}

.tooltip__button.currentFocus .label,
.wrapper:not(.top-autofill) .tooltip__button:hover .label {
    color: var(--hover-color-primary);

    &.label--small {
        color: var(--hover-color-secondary);
    }
}

@media (prefers-color-scheme: dark) {
    .tooltip__button.currentFocus .label,
    .wrapper:not(.top-autofill) .tooltip__button:hover .label {
        color: var(--hover-color-primary-dark);

        &.label--small {
            color: var(--hover-color-secondary-dark);
        }
    }
}

.tooltip__button--secondary {
    font-size: 13px;
    padding: 5px 9px;
    border-radius: var(--border-radius);
    margin: 0;
}

/* Icons */
.tooltip__button--data--credentials::before,
.tooltip__button--data--credentials__current::before {
    background-size: 20px;
    background-image: url('../img/key.svg');
}
.tooltip__button--data--credentials__new::before {
    background-size: 20px;
    background-image: url('../img/key-login.svg');
}
/* Payment Provider Icons */
.tooltip__button--data--creditCards::before,
.tooltip__button--data--provider__generic::before {
    background-image: url('../img/credit-card-generic.svg');
}

.tooltip__button--data--provider__dinersClub::before {
    background-image: url('../img/credit-card-diners-club.png');
}
.tooltip__button--data--provider__discover::before {
    background-image: url('../img/credit-card-discover.svg');
}
.tooltip__button--data--provider__jcb::before {
    background-image: url('../img/credit-card-jcb.svg');
}
.tooltip__button--data--provider__mastercard::before {
    background-image: url('../img/credit-card-mastercard.svg');
}
.tooltip__button--data--provider__unionPay::before {
    background-image: url('../img/credit-card-unionpay.svg');
}
.tooltip__button--data--provider__visa::before {
    background-image: url('../img/credit-card-visa.svg');
}
.tooltip__button--data--provider__amex::before {
    background-image: url('../img/credit-card-amex.svg');
}
/* /Payment Provider Icons */

.tooltip__button--data--identities::before {
    background-size: 20px;
    background-image: url('../img/profile.svg');
}
.tooltip__button--data--credentials.tooltip__button--data--bitwarden::before,
.tooltip__button--data--credentials__current.tooltip__button--data--bitwarden::before {
    background-image: url('../img/bitwarden.svg');
}
.tooltip__button--data--credentials.tooltip__button--data--bitwarden#provider_locked::before,
.tooltip__button--data--credentials__current.tooltip__button--data--bitwarden#provider_locked::before {
    background-image: url('../img/bitwarden-locked.svg');
}

hr {
    display: block;
    margin: var(--hr-margin);
    border: none; /* reset the border */
    border-top: 1px solid rgba(0,0,0,.1);
}

hr:first-child {
    display: none;
}

@media (prefers-color-scheme: dark) {
    hr {
        border-top: 1px solid rgba(255,255,255,.2);
    }
}


#privateAddress {
    align-items: flex-start;
}
#personalAddress::before,
#privateAddress::before,
#incontextSignup::before,
#personalAddress.currentFocus::before,
#personalAddress:hover::before,
#privateAddress.currentFocus::before,
#privateAddress:hover::before {
    filter: none;
    background-size: 24px;
    background-image: url('../img/dax.svg');
}

/* Email tooltip specific */
.tooltip__button--email {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
    padding: 4px 8px;
}
.tooltip__button--email__primary-text {
    font-weight: bold;
}
.tooltip__button--email__secondary-text {
    font-size: 12px;
}

/* Email Protection signup notice */
:not(.top-autofill) .tooltip--email-signup {
    text-align: left;
    color: #222;
    padding: 16px 20px;
    width: 380px;
}

.tooltip--email-signup h1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.tooltip--email-signup p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
}

.notice-controls {
    display: flex;
}

.tooltip--email-signup .notice-controls > * {
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    padding: 8px 12px;
    text-decoration: none;
}

.notice-controls .ghost {
    margin-left: 1rem;
}

.tooltip--email-signup a.primary {
    background: #3969EF;
    color: #fff;
}

.tooltip--email-signup a.primary:hover,
.tooltip--email-signup a.primary:focus {
    background: #2b55ca;
}

.tooltip--email-signup a.primary:active {
    background: #1e42a4;
}

.tooltip--email-signup button.ghost {
    background: transparent;
    color: #3969EF;
}

.tooltip--email-signup button.ghost:hover,
.tooltip--email-signup button.ghost:focus {
    background-color: rgba(0, 0, 0, 0.06);
    color: #2b55ca;
}

.tooltip--email-signup button.ghost:active {
    background-color: rgba(0, 0, 0, 0.12);
    color: #1e42a4;
}

.tooltip--email-signup button.close-tooltip {
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMiAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wLjI5Mjg5NCAwLjY1NjkwN0MwLjY4MzQxOCAwLjI2NjM4MyAxLjMxNjU4IDAuMjY2MzgzIDEuNzA3MTEgMC42NTY5MDdMNiA0Ljk0OThMMTAuMjkyOSAwLjY1NjkwN0MxMC42ODM0IDAuMjY2MzgzIDExLjMxNjYgMC4yNjYzODMgMTEuNzA3MSAwLjY1NjkwN0MxMi4wOTc2IDEuMDQ3NDMgMTIuMDk3NiAxLjY4MDYgMTEuNzA3MSAyLjA3MTEyTDcuNDE0MjEgNi4zNjQwMUwxMS43MDcxIDEwLjY1NjlDMTIuMDk3NiAxMS4wNDc0IDEyLjA5NzYgMTEuNjgwNiAxMS43MDcxIDEyLjA3MTFDMTEuMzE2NiAxMi40NjE2IDEwLjY4MzQgMTIuNDYxNiAxMC4yOTI5IDEyLjA3MTFMNiA3Ljc3ODIzTDEuNzA3MTEgMTIuMDcxMUMxLjMxNjU4IDEyLjQ2MTYgMC42ODM0MTcgMTIuNDYxNiAwLjI5Mjg5MyAxMi4wNzExQy0wLjA5NzYzMTEgMTEuNjgwNiAtMC4wOTc2MzExIDExLjA0NzQgMC4yOTI4OTMgMTAuNjU2OUw0LjU4NTc5IDYuMzY0MDFMMC4yOTI4OTQgMi4wNzExMkMtMC4wOTc2MzA2IDEuNjgwNiAtMC4wOTc2MzA2IDEuMDQ3NDMgMC4yOTI4OTQgMC42NTY5MDdaIiBmaWxsPSJibGFjayIgZmlsbC1vcGFjaXR5PSIwLjg0Ii8+Cjwvc3ZnPgo=);
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    padding: 16px;
    position: absolute;
    right: 12px;
    top: 12px;
}

/* Import promotion prompt icon style */

.tooltip__button--credentials-import::before {
    background-size: 20px;
    background-image: url('../img/key-import.svg');
}

.truncate {
    display: block;
    width: 0;
    min-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.25;
}
