{
    "extends": "standard",
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "rules": {
        "indent": ["error", 4]
    },
    "env": {
        "webextensions": true,
        "browser": true,
        "jasmine": true
    }
}
