{
    "extends": "standard",
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "requireConfigFile" : false,
        "babelOptions": { "configFile": "./.babelrc" }
    },
    "rules": {
        "indent": ["error", 4],
        "standard/no-callback-literal": "off"
    },
    "env": {
        "webextensions": true,
        "browser": true,
        "jasmine": true,
        "jest": true
    },
    "ignorePatterns": ["src/**/*.d.ts", "dist/*", "integration-test/extension/autofill.js"]
}
