src/**/*.d.ts
dist/*
integration-test/extension/autofill.js
integration-test/extension/autofill-debug.js
shared/js/content-scope/sjcl.js
unit-test/data/reference-tests
docs/**/*
src/deviceApiCalls/__generated__/*
src/Form/matching-config/__generated__/*
playwright-report/*
**/*.json
**/*.md
**/*.html
**/*.har
**/*.css
