<!--
  https://login.1c.ru/registration
  rank: 334
  testRunId: 67
  testResultId: 240342
-->
<form method="post" id="registrationForm" action="/registration" class="formReg form-horizontal well well-1c">
  <input type="hidden" id="inviteCode" name="inviteCode" value=""><input type="hidden" id="inviteType" name="inviteType" value="">
  <legend>Регистрация нового пользователя</legend>

  <div class="loginHelpContainer">

  </div>

  <fieldset>
    <input type="hidden" id="redirect" name="redirect" value="">
    <div class="form-group required">
      <label class="control-label col-sm-5 requiredFieldMark"> Логин *</label>

      <div class="col-sm-7 controls">
        <input id="loginInput" class="input-large form-control" autocomplete="new-password" name="login" value="" data-hasqtip="0" aria-describedby="qtip-0" data-init-text="Вам необходимо указать уникальный логин" autofill-information="overall type: UNKNOWN_TYPE
server type: USERNAME
heuristic type: UNKNOWN_TYPE
label: Логин
                         *
parseable name: login
section: login_0_24
field signature: 2301446952
form signature: 798465564890060433
form signature in host form: 798465564890060433
field frame token: 0A14BB7C29DE4505CB435C560B307D72
form renderer id: 2
field renderer id: 24
autocomplete: new-password" data-ddg-testresultelementid="546645" data-manual-scoring="username">
        <div data-tooltip-inline=""></div>
        <div class="help-block input-message-div input-large text-error">
          Логин не указан
        </div>
      </div>
    </div>

    <div class="form-group required">
      <label class="control-label col-xs-3 col-sm-5 passwordLabel requiredFieldMark">
        Пароль *</label>

      <div class="col-sm-7 controls passwordInput">
        <input id="passwordInput" type="password" class="input-large form-control" autocomplete="new-password" name="password" value="" data-hasqtip="1" aria-describedby="qtip-1" autofill-information="overall type: UNKNOWN_TYPE
server type: ACCOUNT_CREATION_PASSWORD
heuristic type: UNKNOWN_TYPE
label: Пароль
                         *
parseable name: password
section: login_0_24
field signature: 2051817934
form signature: 798465564890060433
form signature in host form: 798465564890060433
field frame token: 0A14BB7C29DE4505CB435C560B307D72
form renderer id: 2
field renderer id: 25
autocomplete: new-password" data-ddg-testresultelementid="546646" data-manual-scoring="password.new">
        <div id="complexity" class="default input-large"></div>
        <div data-tooltip-inline=""></div>
      </div>
    </div>

    <div class="form-group required">
      <label class="control-label col-sm-5 requiredFieldMark"> E-mail *</label>

      <div class="col-sm-7 controls">
        <input id="emailInput" class="input-large form-control" name="email" value="" data-hasqtip="2" aria-describedby="qtip-2" autofill-information="overall type: EMAIL_ADDRESS
server type: NO_SERVER_DATA
heuristic type: EMAIL_ADDRESS
label: E-mail
     *
parseable name: email
section: login_0_24
field signature: 420638584
form signature: 798465564890060433
form signature in host form: 798465564890060433
field frame token: 0A14BB7C29DE4505CB435C560B307D72
form renderer id: 2
field renderer id: 26" data-ddg-testresultelementid="546647" data-manual-scoring="emailAddress">
        <div data-tooltip-inline=""></div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-5"> Фамилия </label>

      <div class="col-sm-7 controls">
        <input class="input-large form-control" maxlength="80" id="lastName" name="lastName" value="" autofill-information="overall type: NAME_LAST
server type: NO_SERVER_DATA
heuristic type: NAME_LAST
label: Фамилия
parseable name: lastName
section: login_0_24
field signature: 4163345999
form signature: 798465564890060433
form signature in host form: 798465564890060433
field frame token: 0A14BB7C29DE4505CB435C560B307D72
form renderer id: 2
field renderer id: 27" data-ddg-testresultelementid="546648" data-manual-scoring="lastName">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-5"> Имя </label>

      <div class="col-sm-7 controls">
        <input class="input-large form-control" maxlength="80" id="firstName" name="firstName" value="" autofill-information="overall type: NAME_FIRST
server type: NO_SERVER_DATA
heuristic type: NAME_FIRST
label: Имя
parseable name: firstName
section: login_0_24
field signature: 1855613035
form signature: 798465564890060433
form signature in host form: 798465564890060433
field frame token: 0A14BB7C29DE4505CB435C560B307D72
form renderer id: 2
field renderer id: 28" data-ddg-testresultelementid="546649" data-manual-scoring="firstName">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-5"> Отчество </label>

      <div class="col-sm-7 controls">
        <input class="input-large form-control" maxlength="80" id="middleName" name="middleName" value="" autofill-information="overall type: NAME_MIDDLE
server type: NO_SERVER_DATA
heuristic type: NAME_MIDDLE
label: Отчество
parseable name: middleName
section: login_0_24
field signature: 735322929
form signature: 798465564890060433
form signature in host form: 798465564890060433
field frame token: 0A14BB7C29DE4505CB435C560B307D72
form renderer id: 2
field renderer id: 29" data-ddg-testresultelementid="546650" data-manual-scoring="middleName">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-5"> Место работы </label>

      <div class="col-sm-7 controls">
        <input class="input-large form-control" maxlength="200" id="firmName" name="firmName" value="" autofill-information="overall type: UNKNOWN_TYPE
server type: NO_SERVER_DATA
heuristic type: UNKNOWN_TYPE
label: Место работы
parseable name: firmName
section: login_0_24
field signature: 3688979754
form signature: 798465564890060433
form signature in host form: 798465564890060433
field frame token: 0A14BB7C29DE4505CB435C560B307D72
form renderer id: 2
field renderer id: 30" data-ddg-testresultelementid="546651">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-5"> Город </label>

      <div class="col-sm-7">
        <input class="input-large form-control" maxlength="100" id="city" name="city" value="" autofill-information="overall type: ADDRESS_HOME_CITY
server type: NO_SERVER_DATA
heuristic type: ADDRESS_HOME_CITY
label: Город
parseable name: city
section: login_0_24
field signature: 2098554694
form signature: 798465564890060433
form signature in host form: 798465564890060433
field frame token: 0A14BB7C29DE4505CB435C560B307D72
form renderer id: 2
field renderer id: 31" data-ddg-testresultelementid="546652" data-manual-scoring="addressCity">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-5">

        Телефон
      </label>

      <div class="col-sm-7 controls">
        <div id="profile-input-group-phone" class="input-group">
          <span id="input-phone-addon" class="input-group-addon">+</span>
          <input id="profile-input-phone" class="input-large form-control input-group-input" aria-describedby="input-phone-addon" name="phone" value="" autofill-information="overall type: PHONE_HOME_WHOLE_NUMBER
server type: NO_SERVER_DATA
heuristic type: PHONE_HOME_WHOLE_NUMBER
label: +
parseable name: phone
section: login_0_24
field signature: 1635119699
form signature: 798465564890060433
form signature in host form: 798465564890060433
field frame token: 0A14BB7C29DE4505CB435C560B307D72
form renderer id: 2
field renderer id: 32" data-ddg-testresultelementid="546653" data-manual-scoring="phone">
        </div>
      </div>
    </div>

    <!--    <div class="form-group">
        <label class="checkbox control-label col-sm-5">
            <img class="preferred-otp-type-help" data-toggle="tooltip"
                 th:if="${isRu}"
                 th:src="@{/resources/image/icons/help_icon_2.png}"
                 th:title="#{user.edit.form.otp.type.help}"/>
            <img class="preferred-otp-type-help" data-toggle="tooltip"
                 th:if="${isNotRu}"
                 th:src="@{/resources/image/icons/help_icon_2.png}"
                 th:title="#{user.edit.form.otp.type.help}"/>
            Предпочтительный способ получения одноразового пароля
        </label>
        <div class="col-sm-7 otp-type-selector-container">
            <div>
                <label><input th:field="*{preferredOtpType}" name="preferred_otp_type" type="radio" value="SMS" class="otp-type-selector"/>СМС</label>
            </div>
            <div class="last">
                <label><input th:field="*{preferredOtpType}" name="preferred_otp_type" type="radio" value="PHONE_CALL" class="otp-type-selector"/>Звонок</label>
            </div>
        </div>
    </div>-->
    <div class="form-group preCaptchaInputContainer">
      <div class="col-sm-7 col-sm-offset-5">
        <div class="captchaContainer" onclick="captchaMethods.refreshImage()">
          <a href="javascript:void(0)" class="refreshCaptchaBtn"> Обновить </a>

        </div>
      </div>
    </div>
    <div class="form-group required">
      <label class="control-label col-sm-5 requiredFieldMark">Введите символы *</label>

      <div class="col-sm-7 controls">
        <input id="captchaInput" class="medium form-control" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name="captcha" value="" data-hasqtip="3" aria-describedby="qtip-3" autofill-information="overall type: UNKNOWN_TYPE
server type: NO_SERVER_DATA
heuristic type: UNKNOWN_TYPE
label: Введите символы *
parseable name: captcha
section: login_0_24
field signature: 3105096703
form signature: 798465564890060433
form signature in host form: 798465564890060433
field frame token: 0A14BB7C29DE4505CB435C560B307D72
form renderer id: 2
field renderer id: 33
autocomplete: off" data-ddg-testresultelementid="546654">
        <div data-tooltip-inline=""></div>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-sm-11 terms-of-service-checkbox-label-container">
        Я согласен с условиями
        <a href="https://login.1c.ru/resources/terms-of-service.pdf">Пользовательского соглашения</a>
      </div>

      <div class="col-sm-1 controls terms-of-service-checkbox-container">
        <input id="termsOfServiceAcceptedInput" type="checkbox" name="termsOfServiceAccepted" value="true" autofill-information="overall type: UNKNOWN_TYPE
server type: NO_SERVER_DATA
heuristic type: UNKNOWN_TYPE
label: Я согласен с условиями Пользовательского соглашения
parseable name: termsOfServiceAccepted
section: login_0_24
field signature: 2335965100
form signature: 798465564890060433
form signature in host form: 798465564890060433
field frame token: 0A14BB7C29DE4505CB435C560B307D72
form renderer id: 2
field renderer id: 34" data-ddg-testresultelementid="546655"><input type="hidden" name="_termsOfServiceAccepted" value="on">
      </div>
    </div>

    <div class="form-group m-b-0">
      <div class="col-sm-7 col-sm-offset-5">
        <button class="btn-big btn submitBtn pull-right btn-big-1c" type="submit" data-manual-submit>
          Зарегистрироваться
        </button>
      </div>
    </div>
  </fieldset>
</form>
